:root {
  --color-base: #0891b2;
  --color-active: #06b6d4;
  --color-light: #fafafa;
  --color-dark: #27272a;
}

/* columnas laterales */
div.column {
  width: 20%;
  max-width: 20rem;
  padding-left: 1.5rem;
  padding-right: 0.75rem;
}

div.column h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

/* columna izquierda */
ul.bestSellers li {
  width: 100%;
  border-width: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

ul.bestSellers li:hover {
  margin-inline-start: 1.25rem;
  background-color: var(--color-base);
  color: var(--color-light);
}

ul.bestSellers li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

ul.bestSellers li a div.bestImg {
  width: 3.5rem;
  height: 3.5rem;
}

ul.bestSellers li a div.bestTitle {
  line-height: 0.75rem;
}

ul.bestSellers li a div.bestTitle h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

/* columna derecha */
ul.topCategories li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light);
  padding: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

ul.topCategories li a:hover {
  background-color: var(--color-active);
  color: var(--color-light);
}

ul.topCategories li a svg {
  width: 2rem;
  height: 2rem;
}

ul.topCategories li a h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* columna central */
div.center div.banners2 {
  width: 50%;
}

div.center div.banners3 {
  display: flex;
  width: 33.333333%;
  max-width: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  background-color: var(--color-dark);
  padding: 0.375rem;
}

div.center div.banners3 svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-base);
}

div.center div.banners3 div {
  text-align: center;
  color: var(--color-light);
}

div.center div.banners3 div h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

div.center div.banners3 div p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1280px) {
  /* columna central */
  div.center div.banners3 {
    flex-direction: row;
    padding: 1rem;
  }

  div.center div.banners3 div {
    text-align: start;
  }
}

@media (min-width: 1536px) {
  /* columnas laterales */
  div.column h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  /* columna izquierda */
  ul.bestSellers li a div.bestImg {
    width: 4rem;
    height: 4rem;
  }

  ul.bestSellers li a div.bestTitle h3 {
    font-size: 1.2rem;
  }

  ul.bestSellers li a div.bestTitle sub {
    font-size: 1rem;
  }

  /* columna derecha */
  ul.topCategories li a svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  ul.topCategories li a h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* columna central */
  div.center div.banners3 {
    column-gap: 1.25rem;
  }

  div.center div.banners3 svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (min-width: 1920px) {
  /* columna central */
  div.center div.banners3 div h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  div.center div.banners3 div p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
