@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/normal/Roboto-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../assets/fonts/normal/Roboto-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/normal/Roboto-bold.ttf") format("truetype");
  }

  body {
    font-family: "Roboto Regular";
  }

  h1 {
    font-family: "Roboto Bold";
  }

  h2 {
    font-family: "Roboto Medium";
  }
}

@font-face {
  font-family: "Roboto Thin";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/normal/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/normal/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Black";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/normal/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Thin Italic";
  font-weight: 100;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light Italic";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Italic";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium Italic";
  font-weight: 500;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold Italic";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Black Italic";
  font-weight: 900;
  font-style: italic;
  src: url("../assets/fonts/italic/Roboto-BlackItalic.ttf") format("truetype");
}

#root div.fixed.inset-0.z-30 {
  background-color: transparent;
}

/* transición */
.icon {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-delay: 75ms;
}

/* tooltip */
#universeio-tooltip-nav-container {
  position: relative;
  display: inline-block;
}

#universeio-tooltip-nav-container div.text {
  font-size: 1rem;
  cursor: pointer;
}

#universeio-tooltip-nav-container div.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: white;
  color: grey;
  border-radius: 0 0 4px 4px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
}

#universeio-tooltip-nav-container div.tooltip ul li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#universeio-tooltip-nav-container:hover div.tooltip {
  top: 4.5rem;
  opacity: 1;
  visibility: visible;
  background: white;
  transform: translate(-50%, -5px);
}

header div #megaNavbar #linksNav ul li a {
  font-size: 1rem;
}

header div #megaNavbar2 #linksNav ul li a {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(63 63 70 / var(--tw-text-opacity)) /* #3f3f46 */;
}

header div #megaNavbar2 #locationNav:hover svg.icon {
  color: white;
  background-color: rgb(22 189 202 / var(--tw-text-opacity)) /* #16bdca */;
}

header div #megaNavbar2 div div #linksNav ul {
  gap: 1.5rem;
}
