/* secciones de la barra de navegación */
section.navbar {
  display: flex;
  flex-direction: row;
}

/* botones color cyan */
.button {
  --tw-bg-opacity: 1;
  background-color: rgb(8 145 178 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  cursor: pointer;
}

.button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(6 182 212 / var(--tw-bg-opacity, 1));
}

/* botones color zinc */
button.panel {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

button.panel:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity, 1));
}

button.panel svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* botones de navegación */
li.navBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li.navBtn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity, 1));
}

li.navBtn a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.navBtn svg {
  cursor: pointer;
}

li.navBtn h3 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  cursor: pointer;
}

/* tooltips */
.tooltip {
  position: absolute;
  inset: -2rem;
  top: 10.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

li.navBtn:hover .tooltip {
  display: flex;
  animation: tooltipAppearance;
  animation-duration: 500ms;
}

@keyframes tooltipAppearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.tooltipContent {
  position: relative;
  z-index: 10;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* contenido tooltips */

/* marcas */
ul.brand li {
  margin-top: 0.25rem;
}

ul.brand li a {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

ul.brand li a:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

/* pc */
ul.pc li {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1rem;
}

/* carrito */
.cart::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  top: -0.9rem;
  left: 50%;
  rotate: 45deg;
  z-index: -10;
}

/* enlaces rápidos */
ul.quickLinks li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.quickLinks li a:hover {
  --tw-text-opacity: 1;
  color: rgb(6 182 212 / var(--tw-text-opacity, 1));
}

ul.quickLinks li a svg {
  margin-right: 0.3rem;
}

ul.pc li a {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

ul.pc li a:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

/* pantallas 2xl */
@media (min-width: 1536px) {
  /* secciones de la barra de navegación */
  section.navbar {
    width: 80rem;
  }

  /* tooltips */
  .tooltip {
    left: -8rem;
    right: -8rem;
  }
}
